@charset "UTF-8";

nav{
    display:flex;
    justify-content: space-between;
    height:39px;
}
div#searchContainer{
    display:flex;
    width:500px;
}
div#searchContainer>div{
    margin:10px;
}
div#gudongContainer{
    margin:10px;
}
div.option{
   position:absolute;
}
div.option>div{ 
    position:relative;
    height:280px;
    width:230px;
    z-index : 10;
    display:none;
}
div.option p {
    margin-top:0px;
    margin-bottom: 0px;
    margin-left:10px;
    margin-right:10px;
}


div.optionMenu{
    background-color: beige;
}
div.optionMenu>div{
    display:flex;
    justify-content: space-between;
}

















































